{% extends 'layout.html.twig' %}
{% block title %}ATP!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('atp') }}
    <!-- Renders a link tag (if your module requires any CSS)
                     <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('atp') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}


{% block page_content %}

    <script type="application/javascript">

        let xKeys = {{ keys|json_encode|raw }};
        let yValues = {{ values|json_encode|raw }};
        let done = {{ done|json_encode|raw }};
        let phases = {{ phases|json_encode|raw }};
        let phases2 = {{ phases2|json_encode|raw }};

        function resetZoom() {
            chartAtpInstance.resetZoom();
        }

        window.toggleDragMode = function () {
            var chart = chartAtpInstance;
            var zoomOptions = chart.options.zoom;
            zoomOptions.drag = !zoomOptions.drag;
            chart.update();
            document.getElementById('drag-switch').innerText = zoomOptions.drag ? 'Disable drag mode' : 'Enable drag mode';
        };
    </script>
    <div class="tunecontainer">
        <div style="width:100%; text-align: center; font-size:larger;margin-top: 2px;padding-top: 2px;margin-bottom:15px;">
            <span></span>
        </div>
        <canvas id="chartJSContainer" width="1920" height="800"></canvas>
        <div style="border:1px solid white; width:100%;">
            <span id="yPos" style="margin:4px;">?</span>
        </div>
    </div>
    <button class="btn btn-flat" id="applyChanges">Apply Changes</button>
    <button class="btn btn-flat" id="cancelChanges">Cancel Edits</button>
    <button class="btn btn-flat" id="undoChanges">Undo Applied Changes</button>
    <button onclick="resetZoom()">Reset Zoom</button>
    <button id="drag-switch" onclick="toggleDragMode()">Disable drag mode</button>
{% endblock %}
