{% extends 'graph-layout.html.twig' %}
{% block title %}ATP!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('atp') }}
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.1.0/nouislider.min.js"></script>
    <script type="application/javascript">

        let xKeys = {{ keys|json_encode|raw }};
        let yValues = {{ values|json_encode|raw }};
        let done = {{ done|json_encode|raw }};
        let phases = {{ phases|json_encode|raw }};
        let flags = {{ flags|json_encode|raw }};
        let phases2 = {{ phases2|json_encode|raw }};

    </script>
    {{ parent() }}
    {{ encore_entry_script_tags('atp') }}
{% endblock %}

{% block page_content_before %}
    {{ parent() }}

    <div class="col-xs-2">
        {{ render(controller('App\\Controller\\AtpLayoutController:plansAction', {'request':app.request})) }}
    </div>

{% endblock %}

{% block page_content %}
    <form>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-lg-6">
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">playlist_add_check</i>Ramy czasowe
                            planu
                        </div>
                        <div class="collapsible-body"><span>Nazwij, opisz, ustaw datę rozpoczęcia.</span>
                            <div class="row">
                                <div class="input-field col-xs-4">
                                    <input id="plan_name1" type="text">
                                    <label for="plan_name1">Nazwa</label>
                                </div>
                                <div class="input-field col-xs-4">
                                    <input id="last_name1" type="text" class="validate">
                                    <label for="last_name1">Opis</label>
                                </div>
                                <div class="input-field col-xs-4">
                                    <input type='text' class="datepicker-here" id="air-datapicker1"
                                           data-language='pl'
                                           data-multiple-dates="3"
                                           data-multiple-dates-separator=" -> "
                                           data-position='bottom right'

                                    />
                                    <label for="air-datapicker1">Data rozpoczęcia</label>
                                </div>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">

                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header" style="justify-content: space-between">
                            <div>
                                <i class="material-icons">playlist_add_check</i>Dodaj zawody, testy, wydarzenia.
                            </div>
                            <div><i class="material-icons remove-trial" title="Remove trial" id="1">clear</i>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <i class="material-icons" title="Add trial" id="add-trial">control_point</i>Dodaj zawody,
                            testy, wydarzenia.
                            <div class="row"></div>
                        </div>
                    </li>
                </ul>

                <ul class="collapsible popout" id="time-trials">

                    <li class="time-trial" id="li-time-trial-1">

                        <div class="collapsible-header" style="justify-content: space-between">
                            <div>
                                <i class="material-icons">playlist_add</i>Zawody lub test
                            </div>
                            <div><i class="material-icons remove-trial" title="Remove trial" id="1">clear</i>
                            </div>
                        </div>
                        <div class="collapsible-body"><span>Data i nazwa wydarzenia</span>
                            <div class="row">
                                <div class="input-field col-xs-6">
                                    <input id="plan_name2" type="text">
                                    <label for="plan_name2">Nazwa</label>
                                </div>
                                <div class="input-field col-xs-6">

                                    <input type='text' class="datepicker-here"
                                           data-language='pl'
                                           data-multiple-dates="1"
                                           data-position='bottom right'
                                           id="air-datapicker2"
                                    />
                                    <label for="air-datapicker2">Data</label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3">
                <ul class="collapsible popout" id="plan_values_settings">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">playlist_add_check</i>Ustawienia
                            wartości
                        </div>
                        <div class="collapsible-body"><span>Wartośći treningu</span>
                            <div class="row">
                                <div class="input-field col-xs-12">
                                    <input id="avg_week_time" type="text">
                                    <label for="avg_week_time">Tygodniowy średni czas</label>
                                </div>
                                <div class="input-field col-xs-12">
                                    <input id="avg_week_distance" type="text" class="validate">
                                    <label for="avg_week_distance">Tygodniowy średni dystans</label>
                                </div>

                            </div>
                        </div>
                    </li>

                    <li class="time-trial">
                        <div class="collapsible-header" style="justify-content: space-between">
                            <div>
                                <i class="material-icons">playlist_add</i>Mezocykle
                            </div>
                        </div>
                        <div class="collapsible-body"><span>Konfiguracja mezocykli</span>
                            <div class="select-field row">
                                <div class="col-xs-5 col-sm-6 col-md-6 col-lg-8 text-left">
                                    <label for="cycles_in_mezo">Ilość cykli w mezocyklu</label>
                                </div>
                                <div class="select-field col-xs-2 col-sm-2 col-md-2 col-lg-3">
                                    <select id="cycles_in_mezocycle">
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>


                            </div>
                            <div class="row text-left">
                                <div class="input-field col-xs-12">
                                    <p>
                                        <label>
                                            <input id="decrease_cycles_possibility" type="checkbox" checked="checked"/>
                                            <span>Możliwość zmniejszenia cykli</span>
                                        </label>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
    <div class="canvas">

        <div id="canvas-container" style="float:left; width:99%">
            <canvas id="chartJSContainer" height="650"></canvas>
        </div>
        <div id="test-slider" style="height: 400px; width: 4px; float:left; margin-top: 100px;"></div>
        <ul id="contextMenu">
            <li class="menu-item" onclick="menu(1)">remove</li>
            <li class="menu-item" onclick="menu(2)">change</li>
            <li class="menu-item" onclick="menu(3)">add</li>
        </ul>
    </div>
    <div class="darken-container">
        <div class="container-fluid">
            <div class="row controls badges">
                <div class="col-xs-5">
                    <ul class="list small float-left" id="activity-badges">
                    </ul>
                </div>

                <div class="col-xs-7">
                    <ul class="list small float-right" id="action-badges">

                    </ul>
                </div>
            </div>
            <div class="row controls badges">
                <div class="col-xs-5">
                    <ul class="list small float-left" id="config-badges">
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
