{% extends '@AdminLTE/layout/default-layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {# 'app' must match the first argument to addEntry() in webpack.config.js #}
    {{ encore_entry_link_tags('app') }}
    <!-- Renders a link tag (if your module requires any CSS)
                     <link rel="stylesheet" href="/build/app.css"> -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}

    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}

{% block body %}
    <div class="curtain">
        <div class="curtain__wrapper">
            <input type="checkbox" checked>

            <div class="curtain__panel curtain__panel--left">

            </div> <!-- curtain__panel -->

            <div class="curtain__content">

                {{ parent() }}

            </div>

            <div class="curtain__panel curtain__panel--right">

            </div> <!-- curtain__panel -->

        </div> <!-- curtain__wrapper -->
    </div> <!-- curtain -->

{% endblock %}

{% block footer %}

{% endblock %}
